<div [formGroup]="this.hunterForm">
  <mat-form-field>
    <mat-label>Hunter Name</mat-label>
    <input matInput formControlName="hunterName" />
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-label>Player Name</mat-label>
    <input matInput formControlName="playerName" />
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-label>Potion Count</mat-label>
    <app-counter formControlName="potions"></app-counter>
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-label>Campaign Day</mat-label>
    <app-counter formControlName="campaignDay"></app-counter>
  </mat-form-field>
  <br />

  <button
    mat-icon-button
    color="primary"
    matTooltip="Add Material To Hunter Inventory"
    (click)="this.openMaterialAddDialog()"
    [disabled]="this.hunterForm.disabled"
  >
    <mat-icon>add</mat-icon>
  </button>
  <app-material-list formControlName="materials" [ShowControls]="true"></app-material-list>

  <br /><br />

  <button
    mat-icon-button
    color="primary"
    matTooltip="Add Equipment To Hunter Inventory"
    (click)="this.openEquipmentAddDialog()"
    [disabled]="this.hunterForm.disabled"
  >
    <mat-icon>add</mat-icon>
  </button>

  <app-equipment-icon equipment="helm"></app-equipment-icon>
  <app-equipment-icon equipment="arms"></app-equipment-icon>
  <app-equipment-icon equipment="waist"></app-equipment-icon>
  <app-equipment-icon equipment="chest"></app-equipment-icon>
  <app-equipment-icon equipment="legs"></app-equipment-icon>

  <app-equipment-list formControlName="equipmentCrafted"></app-equipment-list>

  <br /><br />

  <mat-form-field>
    <mat-label>Notes</mat-label>
    <textarea matInput formControlName="notes"></textarea>
  </mat-form-field>
</div>
