<app-nav-bar></app-nav-bar>

<mat-form-field>
  <mat-label>Select Hunter Profile</mat-label>
  <mat-select #hunterProfileSelection>
    <mat-option *ngFor="let profile of this.hunterProfiles$ | async" [value]="profile.hunterId">{{ profile.hunterName }} ({{ profile.playerName }})</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="this.addHunterProfile()"><mat-icon>add</mat-icon> New Profile</button>
<button mat-flat-button color="warn" (click)="this.removeHunterProfile(hunterProfileSelection.value)"><mat-icon>remove</mat-icon> Remove Profile</button> <br>

<button
  mat-icon-button
  color="primary"
  matTooltip="Add Material To Hunter Inventory"
  (click)="this.openMaterialAddDialog()"
>
  <mat-icon>add</mat-icon>
</button>
<app-material-list
  [Materials]="this.hunterMaterials"
  (IncrementMaterial)="this.changeMaterialCount($event.materialId, 1)"
  (DecrementMaterial)="this.changeMaterialCount($event.materialId, -1)"
  (RemoveMaterial)="this.removeMaterial($event.materialId)"
></app-material-list>
<app-equipment-list></app-equipment-list>
