<mat-table [dataSource]="this.Materials">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Material </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <button mat-icon-button color="warn" matTooltip="Remove Item" (click)="this.RemoveMaterial.next({ materialId: item.materialId })">
        <mat-icon>remove</mat-icon>
      </button>
      {{ (this.getMaterial(item.materialId) | async)?.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="count">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <button
        mat-icon-button
        (click)="this.DecrementMaterial.next({ materialId: item.materialId })"
      >
        <mat-icon>remove</mat-icon>
      </button>
      {{ item.count }}
      <button
        mat-icon-button
        (click)="this.IncrementMaterial.next({ materialId: item.materialId })"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['name', 'count']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['name', 'count']"></mat-row>
</mat-table>
