<mat-table [dataSource]="this.Equipment$">
  <ng-container matColumnDef="Type">
    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <app-equipment-icon
        [equipment]="item"
        [matTooltip]="this.getEquipmentDescription(item)"
      ></app-equipment-icon>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let item">
      {{ item.name }}
      @if(__itemIsEquiped(item)()) {
        <mat-icon matTooltip="Equipped">verified_user</mat-icon>
      }
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Notes">
    <mat-header-cell *matHeaderCellDef>Notes</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.note }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CardNumber">
    <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.cardNumber }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <app-rich-text>{{ item.description }}</app-rich-text>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="control">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let item">
      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="EquipmentAttached.next(item)">Equip <mat-icon>person</mat-icon></button>
        <button mat-menu-item (click)="removeEquipment(item)">Delete <mat-icon>delete</mat-icon></button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="__computedColumns()"></mat-header-row>
  <mat-row *matRowDef="let row; columns: __computedColumns()"></mat-row>
</mat-table>
