<ng-container *ngIf="this.hunterProfile$ | async as viewModel">
  <div class="sheet-wrapper">
    <div class="name-box">
      <h1>{{ viewModel.hunterProfile.hunterName }}</h1>
      <h3>{{ viewModel.hunterProfile.playerName }}</h3>
      <p>Campaign Day: {{ viewModel.hunterProfile.campaignDay }}</p>
      <p class="potion-count">
        <button
          mat-icon-button
          (click)="this.consumePotion()"
          matTooltip="Consume Potion"
        >
          <mat-icon svgIcon="mh-potion"></mat-icon>
        </button>
        {{ viewModel.hunterProfile.potions }}
      </p>
      <p>
        Armor <app-icon name="armor">{{ viewModel.TotalArmor }}</app-icon>
      </p>
    </div>
    <div class="flex-wrapper">
      <div class="equipment-box">
        <h4>{{ viewModel.Helm?.name }}</h4>
        <app-equipment-icon [equipment]="viewModel.Helm"></app-equipment-icon>
        <app-icon name="armor" alignment="baseline">
          {{ viewModel.Helm?.armorValue }}
        </app-icon>
        <p>
          <app-rich-text>{{ viewModel.Helm?.description }}</app-rich-text>
        </p>
      </div>
      <div class="equipment-box">
        <h4>{{ viewModel.Chest?.name }}</h4>
        <app-equipment-icon [equipment]="viewModel.Chest"></app-equipment-icon>
        <app-icon name="armor" alignment="baseline">
          {{ viewModel.Chest?.armorValue }}
        </app-icon>
        <p>
          <app-rich-text>{{ viewModel.Chest?.description }}</app-rich-text>
        </p>
      </div>
    </div>
    <div class="flex-wrapper">
      <div class="equipment-box">
        <h4>{{ viewModel.Feet?.name }}</h4>
        <app-equipment-icon [equipment]="viewModel.Feet"></app-equipment-icon>
        <app-icon name="armor" alignment="baseline">
          {{ viewModel.Feet?.armorValue }}
        </app-icon>
        <p>
          <app-rich-text>{{ viewModel.Feet?.description }}</app-rich-text>
        </p>
      </div>
      <div class="equipment-box">
        <h4>{{ viewModel.Weapon?.name }}</h4>
        <app-equipment-icon [equipment]="viewModel.Weapon"></app-equipment-icon>
        <app-icon name="armor" alignment="baseline">
          {{ viewModel.Weapon?.armorValue ?? 0 }}
        </app-icon>
        <br />
        <ng-container *ngFor="let value of viewModel.WeaponDamage">
          <app-icon name="damage">{{ value.damage }}</app-icon>
          x {{ value.count }} &nbsp;
        </ng-container>
        <p>
          <app-rich-text>{{ viewModel.Weapon?.description }}</app-rich-text>
        </p>
      </div>
    </div>
    <div class="equipment-list-box">
      <div style="padding-right: 2em">
        <app-equipment-list
          [Columns]="['Type', 'Name']"
          [Equipment]="viewModel.hunterProfile.equipmentCrafted"
        ></app-equipment-list>
      </div>
    </div>
    <div class="material-list-box">
      <app-material-list
        [Materials]="viewModel.hunterProfile.materials"
        ShowControls="false"
      ></app-material-list>
    </div>
  </div>
</ng-container>
