<mat-table [dataSource]="Materials$ | async | materialSort: SortColumn:SortDirection" matSort (matSortChange)="ChangeSort($event)">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Material </mat-header-cell>
    <mat-cell *matCellDef="let item">
      {{ item.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="count">
    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
    <mat-cell *matCellDef="let item">
      {{ item.count }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="control">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let item">
      <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="disabled"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="IncrementMaterial(item.id)">Increment <mat-icon>add</mat-icon></button>
        <button mat-menu-item (click)="DecrementMaterial(item.id)">Decrement <mat-icon>remove</mat-icon></button>
        <button mat-menu-item (click)="RemoveMaterial(item.id)">Delete <mat-icon>delete</mat-icon></button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns()"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns()"></mat-row>
</mat-table>
